<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= bookmark.title %></title>
</head>

<body>
    <h1>Edit <%= bookmark.title %></h1>
    <form action="/bookmarks/<%= bookmark._id %>?_method=PUT" method="POST">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" placeholder="Title" value="<%= bookmark.title %>">
        <label for="url">URL</label>
        <input type="text" name="url" id="url" placeholder="URL" value="<%= bookmark.url %>">
        <label for="category">Category</label>
        <select name="category" id="category">
            <% for (category of categories) { %>
            <option value="<%= category %>" <%= category === bookmark.category ? 'selected' : '' %>><%= category %>
            </option>
            <% } %>
        </select>
        <button>Submit</button>
    </form>
    <footer>
        <a href="/bookmarks/<%= bookmark._id %>">&larr; back</a>
    </footer>
</body>

</html>